.academico {
    padding: 2%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.academico__cursos {
    display: inline-grid;
    grid-template-columns: 450px 450px 450px;
}

.academico__titulo {
    text-align: center;
    color: #f05a5a;
    display: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.academico__cursos__caixa{
    display: center;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-right: 1rem;
    text-align: center;
}

.img__anhanguera {
    border-radius: 3%;  
    background-image: url('../img/anhanguera.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 183px;
    margin: 0 auto;
    width: 320px; 
}

.img__unisa {
    border-radius: 3%;  
    height: 183px;
    margin: 0 auto;
    width: 320px; 
    background-image: url('../img/unisa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img__alura {
    border-radius: 3%;  
    height: 183px;
    margin: 0 auto;
    width: 320px; 
    background-image: url('../img/alura.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.academico__cursos__item__titulo{
    color: #595959;
    padding: 0.5rem;
}

.academico__cursos__item__subtitulo{
    color: #595959;
}