.menu__lista {
  display: inline-flex;
  /* flex-wrap: wrap;
  white-space: nowrap; */
  gap: 35px;
}

.menu {
  padding: 1.5%;
  display: flex;
  white-space: nowrap;
  background: #f05a5a
}

@media (max-width: 414px) {
  .menu__lista {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 15vh;
  }
}

@media (max-width: 768px) {
  .menu {
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: small;
  }
}

@media (min-width: 1024px) {
  .menu {
      flex-direction: row;
      justify-content: space-between;
    
  }
}


/*.menu__lista {
    background: #f05a5a;
    display: flex;
    padding: 1.5%;
}


.menu__lista__item {
  list-style: none;
  display: flex;
  margin-right: 3%;
}

.menu__nome {
  margin-right: 30%;
}
