.skills {
    padding: 2%;
    text-align: center;
    background-color: #faefef;;
}

/*.skills__linha {
    display: inline-grid;
    grid-template-columns: 320px 320px 320px 320px;
}
*/

.skills__linha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

@media (min-width: 0px) {
    .skills__linha {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .skills__linha {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.skills__titulo  {
    text-align: center;
    color: #f05a5a;
    display: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding: 2rem;

}

.skills__caixa {
    margin-bottom: 4rem;
    margin-right: 1rem;
    text-align: center;
}

.skills__nome {
    padding: 1rem;
    color: #595959;
}

.img__html {
    background-image: url('../img/htlm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28px;
    margin: 0 auto;
    width: 24px; 
}

.img__js {
    background-image: url('../img/js_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28px;
    margin: 0 auto;
    width: 28px; 
}

.img__react {
    background-image: url('../img/react_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30px;
    margin: 0 auto;
    width: 32px; 
}

.img__css {
    background-image: url('../img/css_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 36px;
    margin: 0 auto;
    width: 22px; 
}
